.data-bar {
    display: inline-block;
}

.data-bar__field,.data-bar__value {
    height: 10px;
    border-radius: 50px;
}

.data-bar__field {
    background-color: var(--bg-bar);
    width: 225px;
}

.data-bar__value {
    width: 0px;
    will-change: width;
    transition: width 0.5s 0.2s ease-in-out
}

.data-bar__field.data-bar--hidden  {
    background-color: transparent;
}

.data-bar--fail {
    float: left;
}

.data-bar--fail .data-bar__value {
    float: right;
    background: #f3505c;
    background: -moz-linear-gradient(left, #f3505c 0%, #d74752 100%);
    background: -webkit-linear-gradient(left, #f3505c 0%,#d74752 100%);
    background: linear-gradient(to right, #f3505c 0%,#d74752 100%);
}

.data-bar--success {
    float: right;
}

.data-bar--success .data-bar__value{
    float: left;
    background: #419b5f;
    background: -moz-linear-gradient(left, #419b5f 0%, #55c882 100%);
    background: -webkit-linear-gradient(left, #419b5f 0%,#55c882 100%);
    background: linear-gradient(to right, #419b5f 0%,#55c882 100%);
}
