.data-table thead th {
    text-transform: uppercase;
    font-weight: 100;
    padding: 24px 23px 17px;
    font-size: 0.77em;
    text-align: left;
    color:var(--header-text);
    border-bottom:1px solid var(--bg-bar)
}
@keyframes fade-in{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.data-table {
    will-change: opacity;
    animation: fade-in 0.6s;
}
.data-table th:last-child,.data-table td:last-child {
    text-align: center;
    white-space: nowrap
}

.data-table th,.data-table td {
    border:none;
    letter-spacing: 0
}

.data-table tr:first-child td{
    padding-top: 22px
}

.data-table td {
    padding: 12px 25px 11px;
}

.data-table td .data-value{
    display: inline-block;
    width: 78px;
}

.cut-long-lines {
    overflow: hidden;
    max-width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.data-table tbody tr:nth-child(2n) {
    background-color: var(--bg-semi-dark);
}
