@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,400');

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: var(--bg-dark);
  font-size: 12px;
  font-weight: 100;
  font-family: 'Open sans', sans-serif;
}

:root {
  --bg-dark:#192229; 
  --bg-semi-dark:#1c252d;
  --bg-bar: #212c33; 
  --header-text:#7a93a8; 
}

.text-center {
  text-align: center;
}
.pointer {
  cursor: pointer;
}